* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

:root {
  font-size: 14px;
  --background-page: #cba4db;
  --background-footer: #222;
  --color-footer-text: #fff;
  --color-footer-links: #777;
  --color-footer-links-hover: #fff;
  --background-card: #fff;
  --color-gray-950: #111;
  --color-gray-500: #6b6b6b;
  --radius-card: 1rem;
  --padding-card: 1rem;
  --size-text-title: 1.2rem;
  --size-text-card: 0.7rem;
  --size-text-date: 0.8rem;
  --size-text-footer: 0.8rem;
}

body {
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  line-height: 1.2rem;
  min-height: 100vh;
  margin: 0;
  background: var(--background-page);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.card {
  background: var(--background-card);
  border-radius: var(--radius-card);
  width: min(20rem, 85vw);
  border-style: solid;
  border-width: 1px;
}

.card__content {
  padding: var(--padding-card);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: var(--color-gray-950);
}

.card__image {
  border-radius: 0.6rem;
  width: 100%;
}

.card__image-link {
  display: block;
  text-decoration: none;
}

.card__image-link:focus .card__image,
.card__image-link:hover .card__image {
  filter: brightness(0.95);
  transition: filter 0.2s;
  cursor: pointer;
}

.card__challenge {
  font-size: var(--size-text-date);
  margin-top: -0.5rem;
}

a.card__title {
  letter-spacing: -0.02rem;
  font-size: var(--size-text-title);
  font-weight: 800;
  color: var(--color-gray-950);
  text-decoration: none;
  transition: color 0.2s;
}

a.card__title:hover {
  color: var(--background-page);
  cursor: pointer;
}

.card__description {
  font-size: 0.8rem;
  color: var(--color-gray-500);
  letter-spacing: 0.02rem;
}

.card__author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.card__author-image {
  width: 25px;
}

.card__author-name {
  font-size: var(--size-text-card);
  font-weight: 800;
  text-decoration: none;
  color: var(--color-gray-950);
  transition: color 0.2s;
}

.card__author:hover .card__author-name,
.card__author:focus .card__author-name {
  color: var(--background-page);
  cursor: pointer;
}

.card__author:hover .card__author-image,
.card__author:focus .card__author-image {
  filter: brightness(0.95);
}

footer {
  background: var(--background-footer);
  color: var(--color-footer-text);
  text-align: center;
  padding: 0.8rem;
  font-size: var(--size-text-footer);
  display: flex;
  justify-content: center;
}

footer > a {
  color: var(--color-footer-links);
}

footer > a:hover {
  color: var(--color-footer-links-hover);
}

.card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.9rem;
  margin: 1.5rem;
}

.page__header {
  text-align: center;
  padding: 0.8rem;
}

.page__title {
  margin-bottom: 1.8rem;
}

.page__subtitle {
  color: white;
  font-weight: bold;
}
