* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

:root {
  font-size: 16px;
  --background-page: #cba4db;
  --background-footer: #222;
  --color-footer-text: #fff;
  --color-footer-links: #777;
  --color-footer-links-hover: #fff;
  --background-card: #fff;
  --color-gray-950: #111;
  --color-gray-500: #6b6b6b;
  --radius-card: 1.5rem;
  --padding-card: 1.5rem;
  --size-text-title: 1.5rem;
  --size-text-card: 0.9rem;
  --size-text-date: 1rem;
  --size-text-footer: 0.7rem;
}

body {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  line-height: 1.8rem;
  min-height: 100vh;
  margin: 0;
  background: var(--background-page);
  display: flex;
  flex-direction: column;
}

.page__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-card {
  background: var(--background-card);
  border-radius: var(--radius-card);
  width: 28rem;
  border-style: solid;
  border-width: 1px;
}

.blog-card__content {
  padding: var(--padding-card);
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  color: var(--color-gray-950);
}

.blog-card__image {
  border-radius: 0.9rem;
  width: 100%;
}

.blog-card__challenge {
  font-size: var(--size-text-date);
  margin-top: -0.7rem;
}

.blog-card__title {
  letter-spacing: -0.02rem;
  font-size: var(--size-text-title);
  font-weight: 800;
}

.blog-card__title:hover {
  color: var(--background-page);
  cursor: pointer;
}

.blog-card__description {
  font-size: 1.1rem;
  color: var(--color-gray-500);
  letter-spacing: 0.02rem;
}

.blog-card__author {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.blog-card__author-image {
  width: 36px;
}

.blog-card__author-name {
  font-size: var(--size-text-card);
  font-weight: 800;
}

.page__footer {
  background: var(--background-footer);
  color: var(--color-footer-text);
  text-align: center;
  padding: 1rem;
  font-size: var(--size-text-footer);
  display: flex;
  justify-content: center;
}

.page__footer > a {
  color: var(--color-footer-links);
}

.page__footer > a:hover {
  color: var(--color-footer-links-hover);
}

.card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
