.profile-card {
  background-color: var(--color-grey-800);
  width: var(--width-card);
  border-radius: var(--border-card-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-card);

  &__name {
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    margin-top: var(--margin-top-name);
    font-size: var(--font-size-name);
  }

  &__avatar {
    border-radius: 50%;
    width: var(--avatar-size);
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: var(--links-gap);
    width: 100%;
    margin-top: var(--margin-top-links);
    text-align: center;

    > li {
      list-style: none;
    }
  }

  &__link {
    display: block;
    width: 100%;
    background-color: var(--color-grey-700);
    color: var(--color-white);
    text-decoration: none;
    padding: var(--link-padding);
    border-radius: var(--link-border-radius);
    font-weight: var(--font-weight-semibold);
    transition: var(--link-background-transition);

    &:hover,
    &:focus {
      background-color: var(--color-green);
      color: var(--color-grey-900);
      outline: none;
    }
  }

  &__location {
    color: var(--color-green);
    font-weight: var(--font-weight-regular);
    margin-top: var(--margin-top-location);
  }

  &__bio {
    color: var(--color-white);
    font-weight: var(--font-weight-regular);
    margin-top: var(--margin-top-bio);
  }
}
