$color-green: hsl(75, 94%, 57%);
$color-white: hsl(0, 0%, 100%);
$color-grey-200: hsl(0, 0%, 80%);
$color-grey-500: hsl(0, 0%, 50%);
$color-grey-700: hsl(0, 0%, 20%);
$color-grey-800: hsl(0, 0%, 12%);
$color-grey-900: hsl(0, 0%, 8%);

$width-card: clamp(12rem, 80vw, 20rem);
$border-card-radius: 0.7rem;
$padding-card: clamp(0.7rem, 3.5vw, 1.4rem);

$font-family-inter: 'Inter', sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-size-body: clamp(0.8rem, 1.8vw, 0.9rem);
$font-size-name: clamp(0.9rem, 2.5vw, 1.2rem);
$font-size-footer: clamp(0.6rem, 1.8vw, 0.8rem);

$avatar-size: clamp(2.5rem, 11vw, 4rem);

$padding-footer: clamp(0.3rem, 1.2vw, 0.6rem);
$margin-top-name: clamp(0.7rem, 2.2vw, 1.4rem);
$margin-top-links: clamp(0.7rem, 2.5vw, 1rem);
$margin-top-location: clamp(0.5rem, 1.2vw, 0.7rem);
$margin-top-bio: clamp(0.7rem, 2.5vw, 1.4rem);

$links-gap: 0.7rem;
$link-padding: 0.5rem;
$link-border-radius: 0.2rem;
$link-background-transition: background-color 0.2s, color 0.2s;
$link-color-transition: color 0.2s;

:root {
  --color-green: #{$color-green};
  --color-white: #{$color-white};
  --color-grey-200: #{$color-grey-200};
  --color-grey-500: #{$color-grey-500};
  --color-grey-700: #{$color-grey-700};
  --color-grey-800: #{$color-grey-800};
  --color-grey-900: #{$color-grey-900};

  --width-card: #{$width-card};
  --border-card-radius: #{$border-card-radius};
  --padding-card: #{$padding-card};

  --font-family-inter: #{$font-family-inter};
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-semibold: #{$font-weight-semibold};
  --font-weight-bold: #{$font-weight-bold};
  --font-size-body: #{$font-size-body};
  --font-size-name: #{$font-size-name};
  --font-size-footer: #{$font-size-footer};

  --avatar-size: #{$avatar-size};

  --padding-footer: #{$padding-footer};
  --margin-top-name: #{$margin-top-name};
  --margin-top-links: #{$margin-top-links};
  --margin-top-location: #{$margin-top-location};
  --margin-top-bio: #{$margin-top-bio};

  --links-gap: #{$links-gap};
  --link-padding: #{$link-padding};
  --link-border-radius: #{$link-border-radius};
  --link-background-transition: #{$link-background-transition};
  --link-color-transition: #{$link-color-transition};
}
