*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

article {
  width: 22rem;
  background-color: white;
  border-radius: 1rem;
  padding: 1.7rem;
}

footer {
  background-color: lightgray;
}
