.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(212, 45%, 89%);
}
.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
}
.card__image {
  width: 300px;
  border-radius: 7px;
}
.card__title {
}
.card__description {
}
