* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

:root {
  font-size: 1rem;
  --font-family-base: 'Figtree', sans-serif;
  --font-weight-regular: 500;
  --font-weight-bold: 800;

  --background-page: #f4d04e;
  --background-footer: #222;
  --color-footer-text: #fff;
  --color-footer-links: #777;
  --background-card: #fff;
  --color-gray-950: #111;
  --color-gray-500: #6b6b6b;

  --radius-card: 1.2rem;
  --radius-image: 0.7rem;
  --radius-tag: 0.2rem;
  --border-width-card: 0.06rem;

  --padding-card: 1.2rem;
  --padding-tag: 0.2rem 0.8rem;

  --shadow-card: 0.5rem 0.5rem 0rem 0rem black;

  --size-text-title: 1.5rem;
  --size-text-card: 0.9rem;
  --size-text-date: 0.9rem;
  --size-text-footer: 0.6rem;

  --gap-card-content: 1rem;
  --gap-author: 0.6rem;

  --max-width-card: 24rem;
}

body {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.6rem;
  min-height: 100vh;
  margin: 0;
  background: var(--background-page);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  background: var(--background-card);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  width: min(var(--max-width-card), 80vw);
  border-style: solid;
  border-width: var(--border-width-card);
}

.blog-card__content {
  padding: var(--padding-card);
  display: flex;
  flex-direction: column;
  gap: var(--gap-card-content);
  color: var(--color-gray-950);
}

.blog-card__image {
  border-radius: var(--radius-image);
  width: 100%;
}

.blog-card__tags {
  list-style-type: none;
  font-size: var(--size-text-card);
}

.blog-card__tag {
  display: inline-block;
  background-color: var(--background-page);
  padding: var(--padding-tag);
  border-radius: var(--radius-tag);
  font-weight: var(--font-weight-bold);
}

.blog-card__date {
  font-size: var(--size-text-date);
  margin-top: -0.5rem;
}

a.blog-card__title,
.blog-card__title-link {
  color: var(--color-gray-950);
  text-decoration: none;
  font-size: var(--size-text-title);
  font-weight: var(--font-weight-bold);
}

a.blog-card__title:hover,
.blog-card__title-link:hover {
  color: var(--background-page);
  cursor: pointer;
}

.blog-card__description {
  font-size: 1rem;
  color: var(--color-gray-500);
}

.blog-card__author {
  display: flex;
  align-items: center;
  gap: var(--gap-author);
}

.blog-card__author-image {
  width: 1.8rem;
  border-radius: 50%;
}

.blog-card__author-name {
  font-size: var(--size-text-card);
  font-weight: var(--font-weight-bold);
}

@media (max-width: 23rem) {
  :root {
    font-size: 0.6rem;
  }
}

footer {
  background: var(--background-footer);
  color: var(--color-footer-text);
  text-align: center;
  padding: 1rem;
  font-size: var(--size-text-footer);
}

footer > a {
  color: var(--color-footer-links);
}
