* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

:root {
  font-size: 14px; /* Reduced font size */
  --background-page: #f4d04e;
  --background-footer: #222;
  --color-footer-text: #fff;
  --color-footer-links: #777;
  --background-card: #fff;
  --color-gray-950: #111;
  --color-gray-500: #6b6b6b;
  --radius-card: 1.2rem; /* Reduced border radius */
  --padding-card: 1.2rem; /* Reduced padding */
  --shadow-card: 8px 8px 0px 0px black; /* Reduced shadow */
  --size-text-title: 1.3rem; /* Reduced title text size */
  --size-text-card: 0.8rem; /* Reduced card text size */
  --size-text-date: 0.9rem; /* Reduced date text size */
  --size-text-footer: 0.6rem; /* Reduced footer text size */
}

body {
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  line-height: 1.6rem;
  min-height: 100vh;
  margin: 0;
  background: var(--background-page);
  display: flex;
  flex-direction: column;
}

.page__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-card {
  background: var(--background-card);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  width: min(24rem, 80vw);
  border-style: solid;
  border-width: 1px;
}

.blog-card__content {
  padding: var(--padding-card);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-gray-950);
}

.blog-card__image {
  border-radius: 0.7rem;
  width: 100%;
}

.blog-card__tags {
  list-style-type: none;
  font-size: var(--size-text-card);
}

.blog-card__tag {
  display: inline-block;
  background-color: var(--background-page);
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.blog-card__date {
  font-size: var(--size-text-date);
  margin-top: -0.5rem;
}

.blog-card__title {
  letter-spacing: -0.02rem;
  font-size: var(--size-text-title);
  font-weight: 800;
}

.blog-card__title:hover {
  color: var(--background-page);
  cursor: pointer;
}

.blog-card__description {
  font-size: 1rem;
  color: var(--color-gray-500);
  letter-spacing: 0.02rem;
}

.blog-card__author {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.blog-card__author-image {
  width: 30px;
}

.blog-card__author-name {
  font-size: var(--size-text-card);
  font-weight: 800;
}

.page__footer {
  background: var(--background-footer);
  color: var(--color-footer-text);
  text-align: center;
  padding: 1rem;
  font-size: var(--size-text-footer);
}

.page__footer > a {
  color: var(--color-footer-links);
}
